{% extends "management/admin/base_admin.html" %} 
{% load static %} 

{% block body %}

<section class="content" style="min-height: 700px;">
    <div class="container-fluid">
        <div class="block-header">
            <small class="text-muted">Welcome to POLYCLINIC application</small>
            <h3 style=" text-align: center;">ALL NURSES</h3>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                   
                    <div class="header">
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <form style="text-align: center;" action="{% url 'management:doctorAppointments' %}" method="POST">
                        {% csrf_token %}
                        <label for="">Name</label>
                        <input name='name' type="text" value="{{selectName}}">
                        <button>🔍</button>
                        <br>
                    </form>
                    <div class="body">
                        
                        
                        <div class="fa-3x">
                            <a href="{% url 'management:add_service_receptionist' %}" title="add service receptionist"><i class="zmdi animated -text-light-blue zmdi-plus-circle zmdi-hc-4x"></i></a>
                        </div>
                        {% if message == "Succesfully delete" %}
                        <h5 class="messagedone" style="text-align: center;">{{message}}</h5> 
                        {% else %}
                            <h5 class="txt-oflo" style="color: red; text-align: center;">{{message}}</h5>
                        {% endif %}
                          
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Department</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Is active</th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                                
                                    {% for serviceReceptionist in serviceReceptionists %}
                                    <tr>
                                        <td></td>
                                        <td>{{serviceReceptionist.department.name | title}}</td>
                                        <td class="txt-oflo"><span >{{serviceReceptionist.first_name | upper}} {{serviceReceptionist.last_name | title}}</span></td>
                                        <td><span>{{serviceReceptionist.phone}}</span> </td>
                                        <td class="txt-oflo">{{serviceReceptionist.email}}</td>
                                        {% if serviceReceptionist.is_active %}
                                        <td class="txt-oflo"><span class="label label-success">{{serviceReceptionist.is_active}}</span></td>
                                        {% else %}
                                        <td class="txt-oflo">{{serviceReceptionist.is_active}}</span></td>
                                        {% endif %}
                                        <td><a title="delete service receptionist"><i class="zmdi zmdi-delete" onclick="javascript:toggleVisibility('{{serviceReceptionist.pk}}');"></i></a>
                                            <div id="{{serviceReceptionist.pk}}" style="display:none;">
                                                <form method="post" action="{% url 'management:service_receptionist_admin' %}">
                                                    {% csrf_token %}
                                                    <div class="col-sm-3"></div>
                                                        <div class="form-group">
                                                            <div class="form-line"> <strong>Are you sure ?</strong>
                                                                <select name="staff" class="form-control show-tick" required>
                                                                    <option value={{serviceReceptionist.pk}}>YES</option>
                                                                    <option>NO</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    
                                                        <button type="submit" class="btn btn-raised g-bg-cyan">Valid</button> 
                                                        
                                                <a style="width:100%;"><span class="btn btn-raised g-bg-cyan" onclick="javascript:toggleVisibility('{{serviceReceptionist.pk}}');">Cancel</span></a>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                                    {% if paginate %}
                                
                                    {% if serviceReceptionists.has_previous %}
                                        <a href="?pageD={{ serviceReceptionists.previous_page_number }}">Previous</a>
                                    {% endif %}
                                    {% if serviceReceptionists.has_next %}
                                        <a href="?pageD={{ serviceReceptionists.next_page_number }}" style="float: right;">Next</a>
                                    {% endif %}
                                
                                    {% endif %}
                        
                                </tbody>
                            </table>
                            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>   
        {% endblock %}
