{% extends "management/cashier/base_cashier.html" %} 
{% load static %} 

{% block body %}

<section class="content" style="min-height: 700px;">
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{department.name}}</h2>
            <small class="text-muted">Welcome to CLINIK+ application</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                   
                    <div class="header">
                        <h2>{{department.description}}</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        
                        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Motif</th>
                        <th >Patient</th>
                        <th>Payment_method</th>
                        <th>Cashier</th>
                        <th>Created date</th>
                        <th>End date</th>
                    </tr>
                </thead>
                <tbody>
                    
                   
                        {% for payment in payments %}
                
                        <tr class="txt-oflo" style=" border: 1px solid white;">
                            
                                <td></td>
                                <td><span>{{payment.motif}}</span> </td>
                                <td ><a href="{{payment.get_absolute_url}}" >{{payment.patientDepartment.patient.first_name | upper}} {{payment.patientDepartment.patient.last_name | title}}</a></span></td>
                                
                                <td ><span>{{payment.payment_method}}</span> </td>
                                <td ><span>{{payment.cashier | title}}</span> </td>
                                <td ><span>{{payment.date_creation}}</span> </td>
                                <td ><span>{{payment.valid}}</span> </td>
                                
                            
                        </tr>
                        {% endfor %}
                                    
                </tbody>
            </table >
                                       
            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
        </div>
    </div>
    
</div>
</section>   
        {% endblock %}