{% extends "management/principalReceptionist/base_principal_receptionist.html" %} 
{% load static %} 

{% block body %}

<section class="content" style="min-height: 700px;">
    <div class="container-fluid">
        <div class="block-header">
            <h3 style=" text-align: center;">{{department.name | upper}} STAFF</h3>
            <h2>{{department.name | upper}}</h2>
            <small class="text-muted">Welcome to POLYCLINIC application</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                   
                    <div class="header">
                        <h2><B>Description</B>:</h2>
                            <h6>{{department.description}}</h6>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><button class="nav-link active"data-toggle="tab" onclick=" javascript:DeleteVisibility2('doctors', 'nurses', 'receptionists');">ALL DOCTORS</button></li>
                            <li class="nav-item"><button class="nav-link"data-toggle="tab" onclick="javascript:DeleteVisibility2('receptionists', 'doctors', 'nurses');">ALL {{department.name | upper}} RECEPTIONISTS</button></li>
                            <li class="nav-item"><button class="nav-link" data-toggle="tab" onclick="javascript:DeleteVisibility2('nurses', 'receptionists', 'doctors');">ALL NURSES</button></li>
                        </ul> 
                        
                        <div class="table-responsive" id="doctors" class="col-sm-12" style="display:block;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Is active</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doctor in doctors %}
                                    <tr>
                                        <td></td>
                                        <td class="txt-oflo"><span >{{doctor.first_name | upper}} {{doctor.last_name | title}}</span></td>
                                        <td><span>{{doctor.phone}}</span> </td>
                                        <td class="txt-oflo">{{doctor.email}}</td>
                                        {% if doctor.is_active %}
                                        <td class="txt-oflo"><span class="label label-success">{{doctor.is_active}}</span></td>
                                        {% else %}
                                        <td class="txt-oflo">{{doctor.is_active}}</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginate %}
                        
                            {% if doctors.has_previous %}
                                <a href="?pageD={{ doctors.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% if doctors.has_next %}
                                <a href="?pageD={{ doctors.next_page_number }}" style="float: right;">Next</a>
                            {% endif %}
                        
                            {% endif %}
                        </div>

                        <div class="table-responsive" id="receptionists" class="col-sm-12" style="display:none;">
                            <table class="table table-striped" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Is active</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for serviceReceptionist in serviceReceptionists %}
                                    <tr>
                                        <td></td>
                                        <td class="txt-oflo"><span>{{serviceReceptionist.first_name | upper}} {{serviceReceptionist.last_name | title}}</span></td>
                                        <td><span>{{serviceReceptionist.phone}}</span> </td>
                                        <td class="txt-oflo">{{serviceReceptionist.email}}</td>
                                        {% if serviceReceptionist.is_active %}
                                        <td class="txt-oflo"><span class="label label-success">{{serviceReceptionist.is_active}}</span></td>
                                        {% else %}
                                        <td class="txt-oflo">{{serviceReceptionist.is_active}}</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginate %}
                        
                            {% if serviceReceptionists.has_previous %}
                                <a href="?pageS={{ serviceReceptionists.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% if serviceReceptionists.has_next %}
                                <a href="?pageS={{ serviceReceptionists.next_page_number }}" style="float: right;">Next</a>
                            {% endif %}
                        
                            {% endif %}
                        </div>
                        
                        <div class="table-responsive" id="nurses" class="col-sm-12" style="display:none;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Is active</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nurse in nurses %}
                                    <tr>
                                        <td></td>
                                        <td class="txt-oflo"><span>{{nurse.first_name | upper}} {{nurse.last_name | title}}</span></td>
                                        <td><span>{{nurse.phone}}</span> </td>
                                        <td class="txt-oflo">{{nurse.email}}</td>
                                        {% if nurse.is_active %}
                                        <td class="txt-oflo"><span class="label label-success">{{nurse.is_active}}</span></td>
                                        {% else %}
                                        <td class="txt-oflo">{{nurse.is_active}}</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if paginate %}
                        
                            {% if nurses.has_previous %}
                                <a href="?pageN={{ nurses.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% if nurses.has_next %}
                                <a href="?pageN={{ nurses.next_page_number }}" style="float: right;">Next</a>
                            {% endif %}
                        
                            {% endif %}
                        </div>
                    
                            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>   
        {% endblock %}